html,
body {
  margin: 0;
  font-family: Arial, Helvetica, "Microsoft Yahei", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* 隐藏最外层滚动条以使视差生效 */
  overflow: hidden;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
  /* 开启3D空间，数值越小，3D效果越大 */
  perspective: 2px;
  /* 在3D空间进行transform */
  transform-style: preserve-3d;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* height: 100vh; */

  transform-style: inherit;
  height: 100vh;
}

header h1 {
  background-color: rgba(0, 0, 0, .7);
  color: #fff;
  padding: 1em 4em;
  font-size: 3em;
}

header.pic::before {
  content: "";
  display: block;
  background-image: url("./pic.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  /* 核心：按Z轴向远处移动1px，大小会缩小1倍，使用scale放大到原图大小 */
  transform: translateZ(-1.5px) scale(2);
}

header.pic2::before {
  content: "";
  display: block;
  background-image: url("./pic2.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  /* 核心：按Z轴向远处移动1px，大小会缩小1倍，使用scale放大到原图大小 */
  transform: translateZ(-1.5px) scale(2);
}

header.pic3::before {
  content: "";
  display: block;
  background-image: url("./pic3.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  /* 核心：按Z轴向远处移动1px，大小会缩小1倍，使用scale放大到原图大小 */
  transform: translateZ(-1.5px) scale(2);
}

main {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #222f3e;
}

article {
  width: 90vw;
  max-width: 960px;
  padding: 5em 0;
  color: white;
  font-size: 18px;
  text-align: justify;
  letter-spacing: 0.075em;
  text-indent: 2em;
  line-height: 1.8em;
}

@media screen and (max-width: 1024px) {
  header h1 {
    font-size: 2.5em;
    padding: 1em 1.5em;
  }
}

@media screen and (max-width: 600px) {
  header h1 {
    font-size: 1.5em;
    padding: 1em 1.5em;
  }

  article {
    font-size: 1em;
  }
}